@import "custom";

.navbar-dark .navbar-nav .nav-link a {
    color: #754848;
}
 
.navbar-dark .navbar-nav .nav-link a:hover {
  color: #2c0909;
}

.header-dropdown a{
  color: black !important;
  font-weight: 700;
}

.header-menu{
  color: black !important;
  font-weight: 700;
}