@import "custom";

.navbar-dark .navbar-nav .nav-link a {
    color: #754848;
}
 
.navbar-dark .navbar-nav .nav-link a:hover {
  color: #2c0909;
}

.header-dropdown a{
  color: black !important;
  font-weight: 700;
}

.header-menu{
  color: black !important;
  font-weight: 700;
}
.reset-margin{
  margin: 0 !important;
  padding: 0 !important;
}
.side-nav-col{
  color: white;
  background-color: #754848;
  padding:0;
  min-height: 100vh;
  height: auto;
}
.side-nav-item{
  padding: 1rem !important;
  cursor: pointer;
  font-weight: 700;
  color: white;
  background-color: #754848;
}

.side-nav-item:hover{
  color: white;
  background-color: #be5a5a;
}
.side-nav-item.active{
  color: white;
  background-color: #854141;
}

.gap-3{
  row-gap: 10px;
}

.filter-division{
  border: 1px solid #181414;
  border-radius: 4px;
}