@import "custom";

.navbar-dark .navbar-nav .nav-link a {
    color: #754848;
}
 
.navbar-dark .navbar-nav .nav-link a:hover {
  color: #2c0909;
}

.header-dropdown a{
  color: black !important;
  font-weight: 700;
}

.header-menu{
  color: black !important;
  font-weight: 700;
}
.reset-margin{
  margin: 0 !important;
  padding: 0 !important;
}
.side-nav-col{
  color: white;
  background-color: #754848;
  padding:0;
  min-height: 100vh;
  height: auto;
}
.side-nav-item{
  padding: 1rem !important;
  cursor: pointer;
  font-weight: 700;
  color: white;
  background-color: #754848;
}

.side-nav-item:hover{
  color: white;
  background-color: #be5a5a;
}
.side-nav-item.active{
  color: white;
  background-color: #854141;
}

.gap-3{
  row-gap: 10px;
}

.filter-division{
  border: 1px solid #181414;
  border-radius: 4px;
}


// simulation price change popup
.simulation-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.simulation-popup-header{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.left-info{
  display: flex;
}
.center-info{
  display: flex;
}
.right-info{
  display: flex;
  flex-direction: column;
}
.list-text{
  padding:3px !important;
  font-size: 12px !important;
}
.list-heading{
  font-weight: 500;
}
.list-content{
  display: flex !important;
  flex-direction: column;
  gap: 3px;
}
.new-price-textbox{
  font-size: 12px!important;
  height: 28px!important;
  width: 130px!important;
}
.newprice-buttons{
  gap: 10px;
  display: flex;
}
.new-price-button{
  padding: 0px;
  width: 60px;
  font-size: 12px!important;
}
.font-size-12{
  font-size: 12px !important;
}
.item-input{
  display: flex!important;
  align-items: center;
  justify-content: space-between;
  gap:5px
}
.filter-group{
  flex-direction: row!important;
}
.filter-selection{
  font-size: 12px!important;
  height: 28px!important;
  width: 100px!important;
}
.tool-button{
  width: 100%;
}
.simulation-filter-dropdown > a{
  padding: 3px;
  border: 1px solid;
  border-radius: 3px;
  width: 100px;
  min-width: 100px;
  max-width: 100%;
}

.simulation-filter-dropdown > div {
  width: 100px;
  min-width: 100px;
  max-width: 100%;
  font-size: 12px;
  padding: 3px;
}
.simulation-filter-dropdown > div > a{
  padding: 3px;
}

.simulation-table-font{
  font-size: 9px;
}